* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #1E3190;
    --btn-blue: #5167D0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}