<header class="header">
    <nav class="navbar" id="navbar">
        <a href="/index.html" class="navbar__link-logo">
            <img class="navbar__logo" src="img/logo.png">
        </a>
        <ul class="navbar__list">
            <li class="navbar__list-item">
                <li class="navbar__list-item">
                    <a href="/index.html" class="navbar__link">
                        Home
                    </a>
                </li>
                <a href="board.html" class="navbar__link">
                    Board
                </a>
            </li>
            <li class="navbar__list-item">
                <a href="backlog.html" class="navbar__link">
                    Backlog
                </a>
            </li>
            <li class="navbar__list-item">
                <a href="addTask.html" class="navbar__link">
                    Add Task
                </a>
            </li>
            
        </ul>
        <ul id="menu-mobile" class="navbar__mobile">
            <li class="navbar__mobile-list-item">
                <a href="#" class="navbar__mobile-link">
                    Board
                </a>
            </li>
            <li class="navbar__mobile-list-item">
                <a href="backlog.html" class="navbar__mobile-link">
                    Backlog
                </a>
            </li>
            <li class="navbar__mobile-list-item">
                <a href="index.html" class="navbar__mobile-link">
                    Add Task
                </a>
            </li>
            <li class="navbar__mobile-list-item">
                <a href="#" class="navbar__mobile-link">
                    Help
                </a>
            </li>
        </ul>
        <div class="navbar__user">
            <img class="navbar__user-img" src="img/pexels-italo-melo-2379004.jpg" alt="">
        </div>
        <section class="only-mobile">
            <input onclick="burgerMenuToggle()" id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
            </label>
        </section>
    </nav>
</header>